# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local environment variables
.env

# Virtual environments
venv/
.venv/
env/

# SQLite databases
*.db
*.db-journal
*.db-wal
*.db-shm

# pytest cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Build outputs
build/

